Options -Indexes
ErrorDocument 400 http://www.doc.ic.ac.uk/~tb208/error.php?error=400%20-%20Bad%20Request
ErrorDocument 401 http://www.doc.ic.ac.uk/~tb208/error.php?error=401%20-%20Unauthorized
ErrorDocument 402 http://www.doc.ic.ac.uk/~tb208/error.php?error=402%20-%20Payment%20Required
ErrorDocument 403 http://www.doc.ic.ac.uk/~tb208/error.php?error=403%20-%20Forbidden
ErrorDocument 404 http://www.doc.ic.ac.uk/~tb208/error.php?error=404%20-%20Not%20Found
ErrorDocument 405 http://www.doc.ic.ac.uk/~tb208/error.php?error=405%20-%20Method%20Not%20Allowed
ErrorDocument 406 http://www.doc.ic.ac.uk/~tb208/error.php?error=406%20-%20Not%20Acceptable%20
ErrorDocument 407 http://www.doc.ic.ac.uk/~tb208/error.php?error=407%20-%20Proxy%20Authentication%20Required
ErrorDocument 408 http://www.doc.ic.ac.uk/~tb208/error.php?error=408%20-%20Request%20Timeout
ErrorDocument 409 http://www.doc.ic.ac.uk/~tb208/error.php?error=409%20-%20Conflict
ErrorDocument 410 http://www.doc.ic.ac.uk/~tb208/error.php?error=410%20-%20Gone
ErrorDocument 411 http://www.doc.ic.ac.uk/~tb208/error.php?error=411%20-%20Length%20Required
ErrorDocument 412 http://www.doc.ic.ac.uk/~tb208/error.php?error=412%20-%20Precondition%20Failed
ErrorDocument 413 http://www.doc.ic.ac.uk/~tb208/error.php?error=413%20-%20Request%20Entity%20Too%20Large
ErrorDocument 414 http://www.doc.ic.ac.uk/~tb208/error.php?error=414%20-%20Request%20URI%20Too%20Long
ErrorDocument 415 http://www.doc.ic.ac.uk/~tb208/error.php?error=415%20-%20Unsupported%20Media%20Type
ErrorDocument 416 http://www.doc.ic.ac.uk/~tb208/error.php?error=416%20-%20Requested%20Range%20Not%20Satisfiable
ErrorDocument 417 http://www.doc.ic.ac.uk/~tb208/error.php?error=417%20-%20Expectation%20Failed
ErrorDocument 418 http://www.doc.ic.ac.uk/~tb208/error.php?error=418%20-%20I%27m%20A%20Teapot
ErrorDocument 422 http://www.doc.ic.ac.uk/~tb208/error.php?error=422%20-%20Unprocessable%20Entity
ErrorDocument 423 http://www.doc.ic.ac.uk/~tb208/error.php?error=423%20-%20Locked
ErrorDocument 424 http://www.doc.ic.ac.uk/~tb208/error.php?error=424%20-%20Failed%20Dependency
ErrorDocument 425 http://www.doc.ic.ac.uk/~tb208/error.php?error=425%20-%20Unordered%20Collection
ErrorDocument 426 http://www.doc.ic.ac.uk/~tb208/error.php?error=426%20-%20Upgrade%20Required3
ErrorDocument 500 http://www.doc.ic.ac.uk/~tb208/error.php?error=500%20-%20Internal%20Server%20Error
ErrorDocument 501 http://www.doc.ic.ac.uk/~tb208/error.php?error=501%20-%20Not%20Implemented
ErrorDocument 502 http://www.doc.ic.ac.uk/~tb208/error.php?error=502%20-%20Bad%20Gateway
ErrorDocument 503 http://www.doc.ic.ac.uk/~tb208/error.php?error=503%20-%20Service%20Unavailable
ErrorDocument 504 http://www.doc.ic.ac.uk/~tb208/error.php?error=504%20-%20Gateway%20Timeout
ErrorDocument 505 http://www.doc.ic.ac.uk/~tb208/error.php?error=505%20-%20HTTP%20Version%20Not%20Supported
ErrorDocument 506 http://www.doc.ic.ac.uk/~tb208/error.php?error=506%20-%20Variant%20Also%20Negotiates
ErrorDocument 507 http://www.doc.ic.ac.uk/~tb208/error.php?error=507%20-%20Insufficient%20Storage
